.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: #fff;
  background-color: #000;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-arrow:hover {
  background-color: #333;
}

.custom-prev {
  left: 10px;
}

.custom-next {
  right: 10px;
  body {
    margin: 0;
    font-family: "Libre Bodoni", serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
